// Place all the styles related to the TodoItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.todo-item {
  padding-right: 20px;
}

.finished {
  text-decoration: line-through;
}

.updating {
  background: url(image_path('ajax-loader.gif')) right center no-repeat;
}

#new-todo-form {
  display: none;
}

#new-todo-wrapper {
  width: 80%;
  margin: auto;

  #new-todo-content {
    width: 90%;
  }
}
