<div class="container">
  <% if notice %>
    <p class="alert-message block-message success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert-message block-message warning"><%= alert %></p>
  <% end %>
</div>
